<div class="row">
  <div class="five columns">
    <h2>Sign up</h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%# f.label :username %>
      <%# f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign up" %>
    <% end %>
    <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Forgotten password", new_user_password_path %>
  </div>
  
  <div class="eleven columns">
    <%= image_tag "letter.png", :class => "full_width center" %>
  </div>
</div>