<div class="sixteen columns">
  <h2>Lettre: &nbsp <%= @lettre_order.uuid %></h2>
</div>
<div class="row">
  <div class="ten columns">
    <%= render 'lettre_orders/lettre_preview', :lettre_order => @lettre_order %>
  </div>

  <div class="six columns">
    <%= render 'lettre_orders/address_preview', :lettre_order => @lettre_order %>

    <%= render 'lettre_orders/delivery_options', :lettre_order => @lettre_order %>

    <%= render 'lettre_orders/price_and_subtotal', :lettre_order => @lettre_order %>
    
    <div class="add-top">
      <% if @lettre_order.delivery_status == 1 %>
        <%= link_to "I fulfilled this order", fulfilled_purchased_order_path(@lettre_order.to_param, :delivery_status => 2), :method => :put %>
      <% else %>
        <%= link_to "Set to purchased but not fulfilled", fulfilled_purchased_order_path(@lettre_order.to_param, :delivery_status => 1), :method => :put %>
      <% end %>
      | <%= link_to "Back to purchased orders", purchased_orders_path %>
    </div>
  </div>
</div>