<%= content_for :stripe_js do %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "stripe_init" %>
<% end %>

<%= form_for(@purchase, :url => letter_order_purchase_path) do |f| %>
  <div class="row">
    <div class="six columns">
      <div class="add-bottom">
        <h4>Price Breakdown</h4>
        <%= render "letter_orders/subtotals", :letter_order => @letter_order %>
      </div>
      
      <%= render "shared/error_messages", :object => f.object %>
      <%= f.hidden_field :stripe_card_token, :id => "stripe_card_token" %>
  
      <% if @purchase.stripe_card_token.nil? %>
        <div class="field">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil, autocomplete: "off" %>
        </div>
        <div class="row">
          <%= label_tag :card_month, "Card Expiration", :class => "" %>
          <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", :class => "two columns alpha"}%>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :class => "two columns"}%>
        </div>
        <div id="stripe_error">
          <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
        </div>
        <%= f.submit %>
      <% else %>
        <div class="flash info">Valid credit card info provided. You have not been charged.</div>
        <%= link_to "Edit Letter Order", edit_letter_order_path(@letter_order), :class => "button" %>
      <% end %>
    </div>
    
    <div class="ten columns">
      <%= render "letter_orders/address_preview", :letter_order => @letter_order %>
      <%= render "letter_orders/letter_preview",  :letter_order => @letter_order %>
    </div>
  </div>
<% end %>
