<div class="row remove-bottom">
  <div class="sixteen columns">
    <h2>Receipt for Letter Order: <%= @letter_order.uuid %></h2>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="add-bottom">
      <h4>Price Breakdown</h4>
      <%= render "letter_orders/subtotals", :letter_order => @letter_order %>
    </div>
    
    <div class="add-bottom">
      <h4>Credit Card Info</h4>
      <blockquote>
      <p>
        Last four digits of the credit card used:<br/> 
        <strong><%= @purchase.card_type %> ...<%= @purchase.last_four %></strong>
      </p>
      <p>
        Purchased at:<br/> 
        <strong><%= @purchase.created_at %></strong>
      </p>
      </blockquote>
    </div>
    
    <div>
      <p>
        If you have any questions or concerns about this purchase, don't hesitate to contact us.
      </p>
      <p>
        <%= link_to "Back to Letter Order", @letter_order %>
      </p>
    </div>
     
  </div>
  <div class="ten columns">
    <%= render "letter_orders/address_preview", :letter_order => @letter_order %>
    <%= render "letter_orders/letter_preview",  :letter_order => @letter_order %>
  </div>
</div>