<p>
  <b>Lettre order:</b>
  <%= @purchase.lettre_order_id %>
</p>

<p>
  <b>Last four:</b>
  <%= @purchase.last_four %>
</p>

<p>
  <b>Stripe:</b>
  <%= @purchase.stripe_id %>
</p>

<p>
  <b>Stripe fingerprint:</b>
  <%= @purchase.stripe_fingerprint %>
</p>

<p>
  <b>Card type:</b>
  <%= @purchase.card_type %>
</p>