<%= form_for(@lettre_order) do |f| %>
  <div class="row">
    <div class="ten columns">
      <%= render "shared/error_messages", :object => f.object %>
      <%= f.label :message %>
      <%= f.text_area :message, :class => "full_width lettre_message", :rows => 15 %>
    
      <%= f.label :signed_name %>
      <%= f.text_field :signed_name, :class => "half_width" %>

      <%= f.submit %> &nbsp <%= link_to "Back to lettres", lettre_orders_path %>
    </div>
    
    <div class="six columns">
      <%= f.label :preferred_delivery_date %>
      <%= f.date_select :preferred_delivery_date %>

      <%= f.label :message_display_date %>
      <%= f.date_select :message_display_date %>
    </div>
  </div>
<% end %>
