<%= form_for(@lettre_order) do |f| %>
  <div class="row">
    <div class="ten columns">
      <%= render "shared/error_messages", :object => f.object %>
      <%= f.label :message %>
      <%= f.text_area :message, :class => "full_width lettre_message", :rows => 15 %>
    
      <%= f.label :signed_name %>
      <%= f.text_field :signed_name, :class => "half_width" %>

      <%= f.submit %>
      
      <span>
        <% if params[:action] == "edit" %>
          &nbsp <%= link_to "Cancel", @lettre_order %>
        <% end %>
        &nbsp <%= link_to "Back to my lettres", lettre_orders_path %> 
      </span>
    </div>
    
    <div class="six columns">
      <div class="three columns alpha">
        <%= f.label :preferred_delivery_date %>
        <%= f.text_field :preferred_delivery_date, :class => "date_input full_width", 
                         :placeholder => "i.e. \"#{(Time.now + 2.days).strftime("%b %d %Y")}\"" %>
      </div>
      
      <div class="three columns omega">
        <%= f.label :message_display_date %>
        <%= f.text_field :message_display_date, :class => "date_input full_width", 
                         :placeholder => "i.e. \"#{(Time.now).strftime("%b %d %Y")}\"" %>
      </div>
      
      
    </div>
  </div>
<% end %>
