<div class="sixteen columns">
  <h2>My Lettre Orders</h2>

  <table>
    <tr>
      <th>UUID</th>
      <th>Preferred delivery date</th>
      <th>Delivery Address</th>
      <th>Created On</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @lettre_orders.each do |lettre_order| %>
    <tr>
      <td><%= lettre_order.uuid %></td>
      <td><%= lettre_order.preferred_delivery_date %></td>
      <td><%= lettre_order.address_street1 %></td>
      <td><%= lettre_order.created_at %></td>
      <td><%= link_to 'Show', lettre_order %></td>
      <td><%= link_to 'Edit', edit_lettre_order_path(lettre_order) %></td>
      <td><%= link_to 'Destroy', lettre_order, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
</div>



<br />

<%= link_to 'New Lettre order', new_lettre_order_path %>
