<div id="masthead" class="half-bottom"> 
  <div class="container remove-bottom"> 
    <div class="six chubby columns"> 
      <h1 class="remove-bottom"><strong><%= link_to "Classy Lettres", root_path %></strong></h1> 
    </div>
    <div class="ten chubby columns right add-top">
      <ul class="inline">
        <% if signed_in? %>
          <li><%= link_to "Hi, #{current_user.display_name}", edit_user_registration_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Dashboard (#{LettreOrder.where("delivery_status = 1").count})", purchased_orders_path %></li>
          <% end %>
        <% end %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<hr class="top-line"/>