<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt|Gochi+Hand' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :stripe_js %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_API_KEY %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <div class="sixteen columns">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %> add-top">
      <%= value %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
